API_GATEWAY_PORT=80
COSMOSDB_PORT=3000

FUNCTIONS_ADMIN_CONTEXT=./io-functions-admin
FUNCTIONS_ADMIN_PORT=7000
FUNCTIONS_ADMIN_COMMIT_SHA=${FUNCTIONS_ADMIN_COMMIT_SHA} 

FUNCTIONS_APP_CONTEXT=./io-functions-app
FUNCTIONS_APP_PORT=7001
FUNCTIONS_APP_COMMIT_SHA=${FUNCTIONS_APP_COMMIT_SHA}

FUNCTIONS_PUBLIC_CONTEXT=./io-functions-public
FUNCTIONS_PUBLIC_PORT=7002
FUNCTIONS_PUBLIC_COMMIT_SHA=${FUNCTIONS_PUBLIC_COMMIT_SHA}

FUNCTIONS_SERVICES_CONTEXT=./io-functions-services
FUNCTIONS_SERVICES_PORT=7003
FUNCTIONS_SERVICES_COMMIT_SHA=${FUNCTIONS_SERVICES_COMMIT_SHA}

IO_BACKEND_CONTEXT=./io-backend
IO_BACKEND_PORT=8000
IO_BACKEND_COMMIT_SHA=${IO_BACKEND_COMMIT_SHA}

FUNCTIONS_BONUS_CONTEXT=./io-functions-bonus
FUNCTIONS_BONUS_PORT=7004
FUNCTIONS_BONUS_COMMIT_SHA=${FUNCTIONS_BONUS_COMMIT_SHA}

FUNCTIONS_CGN_CONTEXT=./io-functions-cgn
FUNCTIONS_CGN_PORT=7005
FUNCTIONS_CGN_COMMIT_SHA=${FUNCTIONS_CGN_COMMIT_SHA}

FUNCTIONS_PAYMENTMANAGER_CONTEXT=./io-functions-paymentmanager
FUNCTIONS_PAYMENTMANAGER_PORT=7006
FUNCTIONS_PAYMENTMANAGER_COMMIT_SHA=${FUNCTIONS_PAYMENTMANAGER_COMMIT_SHA}

IO_PAGOPA_PROXY_CONTEXT=./io-pagopa-proxy
IO_PAGOPA_PROXY_COMMIT_SHA=${IO_PAGOPA_PROXY_COMMIT_SHA}

IO_PAGOPA_NODO_MOCK_CONTEXT=./io-pagopa-nodo-mock
IO_PAGOPA_NODO_MOCK_COMMIT_SHA=${IO_PAGOPA_NODO_MOCK_COMMIT_SHA}

PAGOPA_PORT=3002
PAGOPAPROXY_PORT=3001


NOTIFICATION_HUB_CONTEXT=./io-notification-hub-mock
NOTIFICATION_HUB_COMMIT_SHA=${NOTIFICATION_HUB_COMMIT_SHA}

IO_BONUS_INPS_MOCK_CONTEXT=./io-bonus-inps-node-mock
IO_BONUS_INPS_MOCK_COMMIT_SHA=${IO_BONUS_INPS_MOCK_COMMIT_SHA}

IO_FIXTURES_CONTEXT=./io-fixtures
IO_FIXTURES_COMMIT_SHA=${IO_FIXTURES_COMMIT_SHA}

REQ_USER_GROUPS=ApiServiceRead,ApiServiceWrite,ApiProfileWrite,ApiServiceList,ApiServiceKeyRead,ApiServiceKeyWrite,ApiUserAdmin,ApiMessageWrite,ApiMessageRead
REQ_SERVICE_ID=MyServiceId

GITHUB_TOKEN=github_token

STORAGE_CONNECTION_STRING=connection_string

COSMOSDB_URI=https://cosmosdb:3000
COSMOSDB_KEY=dummykey
COSMOSDB_NAME=testdb

ADE_SERVICE_ENDPOINT=http://host.docker.internal:3003/ADE-1-OK
INPS_SERVICE_ENDPOINT=http://host.docker.internal:3003/INPS-1-OK
